<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.css">

<h1>Form HTML components</h1>

<form action="" class="form-{{form-Name}}">
    <section class="form-step-{{step no}}">

        <!-- #include file="/boilerplates/components/forms/partials/_form-section-header.shtm" -->

        <fieldset class="{{fieldset-Name}}">
            <legend>
                Input Fields
            </legend>
            <!-- #include file="/boilerplates/components/forms/partials/_input-text/_field-text.shtm" -->
            <!-- #include file="/boilerplates/components/forms/partials/_input-text/_field-name.shtm" -->
            <!-- #include file="/boilerplates/components/forms/partials/_input-text/_field-email.shtm" -->
            <!-- #include file="/boilerplates/components/forms/partials/_input-text/_field-hidden.shtm" -->
            <!-- #include file="/boilerplates/components/forms/partials/_input-text/_field-password.shtm" -->
            <!-- #include file="/boilerplates/components/forms/partials/_input-text/_field-search.shtm" -->

        </fieldset>
        <fieldset class="fieldset-btns">
            <legend>
                Buttons
            </legend>

            <!-- #include file="/boilerplates/components/forms/partials/_input-btns/_field-image.shtm" -->
            <!-- #include file="/boilerplates/components/forms/partials/_input-btns/_field-file.shtm" -->
            <!-- #include file="/boilerplates/components/forms/partials/_input-btns/_field-next.shtm" -->
            <!-- #include file="/boilerplates/components/forms/partials/_input-btns/_field-prev.shtm" -->
            <!-- #include file="/boilerplates/components/forms/partials/_input-btns/_field-submit.shtm" -->

        </fieldset>
        <fieldset class="{{fieldset-Name}}">
            <legend>
                Second Legend goes here
            </legend>
            <!-- #include file="/boilerplates/components/forms/partials/_grps/_grp-dob.shtm" -->

        </fieldset>
        <fieldset class="{{fieldset-Name}}">

            <p>

            </p>
            <div class="input-grp dob">
                <div class="input-field day">
                    <label for="card">
                        <span>Card type:</span>
                        <select id="card" name="usercard">
                            <option value="visa">Visa</option>
                            <option value="mc">Mastercard</option>
                            <option value="amex">American Express</option>
                        </select>
                    </label>

                </div>
            </div>
        </fieldset>
    </section>
</form>
