// ==========================================================================
//   Structure
// ==========================================================================

$lang-dir:       !default;
$grid-full:       !default; 
$grid-tablet:     !default;  
$grid-desktop:    !default;
$grid-mobile:     !default;

// ==========================================================================
//   Typography
// ==========================================================================

// General Typography
// ==========================================================================

$body-font: '' !default;

// Headings
// ==========================================================================
$h1-font: '' !default;
$h2-font: '' !default;
$h3-font: '' !default;
$h4-font: '' !default;




// ==========================================================================
//   Colours
// ==========================================================================




// ==========================================================================
//   Sprites
// ==========================================================================








